/* --------------------------------------
=========================================
Massketing  - Multipurpose Landing Page
Version: 2.0
Designed By: DeMustang
=========================================
-----------------------------------------

1.  GLOABL-CSS
	 1.1 GENERAL-CSS
   	 1.2 TYPOGRAPHY

2.  PRE-LOADER
	 2.1 LOADING
	 2.2 LOADING ANIMATION

3.  SECTION CSS

4.  HEADER SECTION

5.  SPONSOR SECTION

6.  WE BUILD SECTION

7.  WHAT WE DO SECTION

8.  POWERFUL TOOLS SECTION	

9.  POPULAR SECTION

10. CLIENT SECTION

11. AFFILIATE SECTION

12. FOOTER SECTION

13. RESPONSIVE FIXES
	13.1 MEDIA MAX_WIDTH 480PX
	13.2 MEDIA MAX_WIDTH 980PX
-----------------------------------------*/

/* --------------------------------------
=========================================
   1. GLOABL - CSS
=========================================
-----------------------------------------*/

/*---------------------------------------
   1.1 IMPORT GOOGLE WEBFONT               
-----------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,100,700,600,800);
/*---------------------------------------
   1.2 GENERAL - CSS               
-----------------------------------------*/
html {
	background: #20242e url(../img/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px; /* PIXEL FALLBACK */
	font-size: 1.6rem;
	line-height: 1.5;
	color: #8f96a9;
	background: none;
}
button, a.button {
	display: inline-block;
	margin: 40px 0 0;
	padding: 15px 40px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-size: 18px;
	background: #70b11b;
	border: none;
	text-decoration: none;
}
button:hover, a.button:hover {
	background: #7ac913;
}
iframe {
	border: none;
}
.padd-both {
	padding-left: 10%;
	padding-right: 10%;
}
/*---------------------------------------
   1.3 TYPOGRAPHY               
-----------------------------------------*/
	
h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}
h2, h3, h4, h5, h6 {
	color: #383838;
}
h1 {
	font-size: 48px; /* PIXEL FALLBACK */
	font-size: 4.8rem;
	color: #fff;
}
h2 {
	font-size: 38px; /* PIXEL FALLBACK */
	font-size: 3.8rem;
	margin: 0;
}
h3 {
	font-size: 24px; /* PIXEL FALLBACK */
	font-size: 2.4rem;
	font-weight: 600;
}
h4 {
	font-size: 18px; /* PIXEL FALLBACK */
	font-size: 1.8rem;
	font-weight: bold;
	text-transform: uppercase;
}
h5 {
	font-size: 16px; /* PIXEL FALLBACK */
	font-size: 1.6rem;
	font-weight: bold;
}
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px; /* PIXEL FALLBACK */
	font-size: 1.6rem;
}
/* --------------------------------------
=========================================
   2. PRELOADER
=========================================
-----------------------------------------*/

/*---------------------------------------
   2.1 LOADING               
-----------------------------------------*/

#loading {
	background: #20242e;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 9999;
	margin-top: 0px;
	top: 0px;
}
#loading-center {
	width: 100%;
	height: 100%;
	position: relative;
}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200px;
	width: 200px;
	margin-top: -100px;
	margin-left: -100px;
}
#object {
	width: 30px;
	height: 30px;
	-webkit-animation: animate 1s infinite ease-in-out;
	animation: animate 1s infinite ease-in-out;
	margin-right: auto;
	margin-left: auto;
	margin-top: 60px;
	background: #19A9E5;
}

/*---------------------------------------
   2.2 LOADING ANIMATION               
-----------------------------------------*/

@-webkit-keyframes animate {
 0% {
-webkit-transform: perspective(160px);
}
 50% {
-webkit-transform: perspective(160px) rotateY(-180deg);
}
 100% {
-webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg);
}
}
 @keyframes animate {
 0% {
 transform: perspective(160px) rotateX(0deg) rotateY(0deg);
 -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
}
50% {
 transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
 -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
}
100% {
 transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
 -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
}
}
/* --------------------------------------
=========================================
   3. SECTION CSS
=========================================
-----------------------------------------*/
section {
	width: 100%;
	padding: 100px 0;
	background: #eeeff1;
	float: left;
}
.seprator {
	background: #19a9e5;
	display: inline-block;
	height: 2px;
	margin: 30px 0;
	width: 60px;
}
/* --------------------------------------
=========================================
   4. HEADER SECTION
=========================================
-----------------------------------------*/

#header {
	padding: 40px 0 155px 0;
	text-align: center;
	background: rgba(66,92,114,0.5);
	animation: colorCycle 10s infinite;
	-webkit-animation: colorCycle 10s infinite;
	-moz-animation: colorCycle 10s infinite;
	-o-animation: colorCycle 10s infinite;
}
 @keyframes colorCycle {
 0% {
background:rgba(66,92,114,0.5);
}
 25% {
background:rgba(0,0,0,0.5);
}
 50% {
background:rgba(70,17,94,0.5);
}
 75% {
background:rgba(59,93,14,0.5);
}
}
 @-webkit-keyframes colorCycle {
 0% {
background:rgba(66,92,114,0.5);
}
 25% {
background:rgba(0,0,0,0.5);
}
 50% {
background:rgba(70,17,94,0.5);
}
 75% {
background:rgba(59,93,14,0.5);
}
}
 @-moz-keyframes colorCycle {
 0% {
background:rgba(66,92,114,0.5);
}
 25% {
background:rgba(0,0,0,0.5);
}
 50% {
background:rgba(70,17,94,0.5);
}
 75% {
background:rgba(59,93,14,0.5);
}
}
 @-o-keyframes colorCycle {
 0% {
background:rgba(66,92,114,0.5);
}
 25% {
background:rgba(0,0,0,0.5);
}
 50% {
background:rgba(70,17,94,0.5);
}
 75% {
background:rgba(59,93,14,0.5);
}
}
.logo {
	text-align: left;
}
ul.social-icon {
	text-align: right;
	padding: 0px;
}
ul.social-icon li {
	list-style: none;
	display: inline-block;
	margin-left: 20px;
}
ul.social-icon li a {
	border-radius: 50%;
	box-shadow: 0 0 0 3px #fff inset;
	-webkit-box-shadow: 0 0 0 3px #fff inset;
	-o-box-shadow: 0 0 0 3px #fff inset;
	height: 50px;
	display: block;
	text-align: center;
	width: 50px;
	position: relative;
	z-index: 10;
}
ul.social-icon li a span {
	position: absolute;
	top: 50%;
	left: 50%;
	background: #fff;
	width: 0;
	height: 0;
	border-radius: 50%;
	-webkit-transition: all 0.5s ease; /* Safari */
	-moz-transition: all 0.5s ease;
	; /* firefox */
	-o-transition: all 0.5s ease; /* opera */
	transition: all 0.5s ease;
	z-index: -1;
}
ul.social-icon li a:hover span {
	width: 50px;
	height: 50px;
	margin: -25px;
}
ul.social-icon li a:hover i {
	color: #20242e;
}
ul.social-icon i {
	font-size: 18px;
	line-height: 50px;
	color: #FFF;
}
#header h1 {
	margin-top: 135px;
	text-align: center;
	padding: 0 20%;
}
#header p {
	font-size: 18px;
	color: #fff;
	padding: 0 10%;
}
/* --------------------------------------
=========================================
   5. SPONSORS SECTION
=========================================
-----------------------------------------*/

#sponsors {
	background: #19a9e5;
	padding: 20px 0;
}
.sponsor {
	text-align: center;
	padding: 20px 0;
	display: block;
}
/* --------------------------------------
=========================================
   6. WE BUILD SECTION
=========================================
-----------------------------------------*/

#we-build {
	background: #f7f8f9;
}
#we-build h3 {
	margin-top: 0;
}
.figure img {
	width: 100%;
	max-width: 754px;
	margin: 40px 0 0;
}
/* --------------------------------------
=========================================
   7. WHAT WE DO SECTION
=========================================
-----------------------------------------*/

iframe {
	width: 100%;
	min-height: 300px;
	margin-top: 7px;
}
ul.services-list {
	padding: 0;
}
ul.services-list li {
	list-style: none;
}
ul.services-list li:before {
	content: "";
	width: 7px;
	height: 7px;
	background-color: #19a9e5;
	float: left;
	margin: 8px 10px 0 0;
}
/* --------------------------------------
=========================================
   8. POWERFUL TOOLS SECTION
=========================================
-----------------------------------------*/

#powerful-tools {
	background: #f7f8f9;
}
.tools-box {
	float: left;
	width: 100%;
}
.tool-circle {
	width: 80px;
	height: 80px;
	float: left;
	border-radius: 50%;
	text-align: center;
	margin: 24px 20px 30px 0;
	line-height: 80px;
}
.tool-circle i {
	font-size: 38px;
	color: #FFF;
	line-height: 80px;
}
.one-tone {
	background: #49d889;
}
.two-tone {
	background: #32c1b6;
}
.three-tone {
	background: #19a9e5;
}
/* --------------------------------------
=========================================
   9. CHART SECTION
=========================================
-----------------------------------------*/

.laptop-img {
	text-align: right;
}
.laptop-img img {
	width: 381px;
	display: inline-block;
	margin: 40px 0 0;
}
.stat-shadow {
	background: url(../img/stat-shadow.png) no-repeat bottom;
	background-size: cover;
}
/* --------------------------------------
=========================================
   10. OUR CLIENTS SECTION
=========================================
-----------------------------------------*/

#our-client {
	background: #fbfbfb;
	text-align: center;
}
.client-img {
	border: 6px solid;
	border-radius: 50%;
	margin: 0 0 20px 0;
}
.client-one-tone {
	border-color: #49d889;
	color: #49d889;
}
.client-two-tone {
	border-color: #32c1b6;
	color: #32c1b6;
}
.client-three-tone {
	border-color: #19a9e5;
	color: #19a9e5;
}
/* --------------------------------------
=========================================
   11. AFFILIATE SECTION
=========================================
-----------------------------------------*/

#affiliate {
	background: rgba(32,36,46,0.9);
	text-align: center;
	color: #fff;
}
#affiliate h2 {
	color: #fff;
}
.form-holder {
	display: inline-block;
	margin: 20px 0 0;
}
input {
	background: #fff none repeat scroll 0 0;
	border: medium none;
	color: #000;
	float: left;
	font-size: 15px;
	height: 50px;
	margin: 0 0 15px;
	padding: 0 15px;
	width: 100%;
}
.form-button {
	display: inline-block;
	text-transform: uppercase;
	color: #fff;
	font-size: 18px;
	background: #70b11b;
}
#newsletter-error {
	background: #f22c24;
	color: #fff;
	padding: 30px;
	margin-bottom: 20px;
	display: none;
}
#newsletter-error ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.form-holder i {
	font-size: 38px;
	color: #f22c24;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	text-align: center;
	margin-bottom: 20px;
	line-height: 80px;
	background: #fff;
}
#newsletter-error label {
	margin: 0;
	padding: 0;
}
#newsletter-success {
	background: #70b11b;
	color: #fff;
	padding: 30px;
	margin-bottom: 20px;
	display: none;
}
#newsletter-success i {
	color: #70b11b;
}
/* --------------------------------------
=========================================
   12. FOOTER SECTION
=========================================
-----------------------------------------*/

#copy-right {
	width: 100%;
	float: left;
	background: #13171f;
	padding: 0px;
}
#copy-right p {
	text-align: center;
	font-size: 12px;
	padding: 50px 0;
	margin: 0;
	color: #fff;
}

/* --------------------------------------
=========================================
   13. RESPONSIVE FIXES
=========================================
-----------------------------------------*/

/* --------------------------------------
   13.1 MEDIA MAX_WIDTH 480PX
-----------------------------------------*/

@media(max-width:993px) {
#header h1 {
	padding: 0;
}
iframe {
	margin-bottom: 50px;
}
.padd-both {
	padding-left: 0;
	padding-right: 0;
}
#we-build h3 {
	margin-top: 20px;
	text-align: center
}
#we-build p {
	text-align: center
}
#we-build .seprator {
	margin: 25px 0 5px;
}
#powerful-tools {
	text-align: center;
}
.tool-circle {
	margin: 20px 0 0 0;
	display: inline-block;
	float: none;
}
#popular {
	text-align: center;
}
.laptop-img {
	text-align: center;
}
.laptop-img img {
	margin: 40px 0 0;
}
#our-client .seprator {
	margin: 25px 0 5px;
}
#our-client .client-img {
	margin: 20px 0 20px 0;
}
}
/* --------------------------------------
   13.2 MEDIA MAX_WIDTH 768PX
-----------------------------------------*/

@media(max-width:769px) {
.logo {
	text-align: center;
}
ul.social-icon {
	text-align: center;
	margin-top: 50px;
}
#header h1 {
	margin-top: 50px;
}
.figure h3 {
	margin-top: 20px;
}
.tools-box h3, .tools-box p {
	width: 100%;
	float: left;
}
.form-button {
	width: 100%;
}
}

/* --------------------------------------
   13.2 MEDIA MAX_WIDTH 768PX
-----------------------------------------*/

@media(max-width:450px) {
.laptop-img img {
	width: 100%;
}
h1 {
	font-size: 40px;
	font-size: 4.0rem;
}
h2 {
	font-size: 30px;
	font-size: 3.0rem;
}
h3 {
	font-size: 20px;
	font-size: 2.0rem;
}
button {
	padding: 15px 20px;
}
}
